:root {
    --main-color: rgb(26, 148, 255);
    --title-color: #046582;
    --detail-color: rgb(255, 66, 78);
    --green-color: #28871c;
    --text-color: #373737;
    --border-color: #e0e0e0;
    --yellow-color: rgb(253, 216, 54);
    --nav-color: #9e9e9e
}

body {
    font-family: "Mallory Book", sans-serif, FontAwesome !important;
    font-size: 13px !important;
    line-height: 25px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
    color: #373737;
}

@font-face {
    font-family: "Mallory Book";
    src: url("../font/Mallory-Dfonts.org/Mallory/Mallory Book.ttf");
}

@font-face {
    font-family: "Mallory Bold";
    src: url("../font/Mallory-Dfonts.org/Mallory/Mallory Bold.ttf");
}

.navbar .nav-link {
    color: #373737;
}

.navbar .nav-link:hover {
    color: var(--title-color)
}
.sidebar-map {
    display: block;
    position: relative;
    min-height: 100vh;
    overflow: auto;
    height: 100vh;
    padding: 0 !important;
}

.sidebar-map::-webkit-scrollbar {
    width: 5px;
}

.sidebar-map::-webkit-scrollbar-track {
    background-color: #eeeeee;
}

.sidebar-map::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
}

#map,
#app {
    height: 100%;
}

#map {
    min-height: 100vh;
}

.main-map {
    padding: 0;
}

.marker-tieude {
    display: none;
    width: 50;
    height: 30px;
    background-color: red;
}

.marker-vitri {
    font-size: 22px;
    color: rgb(255, 66, 78);
}

.nhatro-box {
    display: block;
    padding: 10px;
}

.nhatro-item {
    border-bottom: 1px solid #eeeeee;
}
.nhatro-tieude {
    font-weight: bold;
    color: #046582;
    padding-bottom: 3px;
}

.nhatro-gia {
    color: rgb(255, 66, 78);
    font-size: 16px;
    font-weight: bold;
}

.nhatro-diachi {
    padding-bottom: 3px;
}

.nhatro-search {
    padding: 5px;
    background-color: rgb(26, 148, 255);
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(23, 81, 198, 0.3) 0px 30px 60px -30px, rgba(27, 101, 174, 0.35) 0px -2px 6px 0px inset;
}

.nhatro-search input {
    padding: 10px;
    border: none;
    border-radius: none;
    width: 100%;
}

/* .img-icon {
    color: #046582;
} */

.nhatro-search_form {
    display: flex;
    border: none
}

.nhatro-btn-search,
.nhatro-btn-clear {
    text-align: center;
    cursor: pointer;
}

#nhatro-filter {
    padding-top: 10px;
}

#nhatro-filter li {
    list-style-type: none;
}

.tienich-list,
.doituong-list,
.khuvuc-list {
    padding-left: 15px;
}

.filter-title {
    position: relative;
    font-weight: bold;
    padding: 15px;
    background-color: #eeeeee;
    color: #373737;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.nhatro-top {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#filter-view li {
    padding-left: 0;
}

.arrow-icon-down {
    display: none;
    position: absolute;
    padding-top: 10px;
}

.dropdown-toggle[aria-expanded="true"] .arrow-icon-down {
    display: block;
    /* top: 30px; */
}

.dropdown-toggle[aria-expanded="true"] .arrow-icon-right {
    display: none;
}

.dropdown-toggle[aria-expanded="true"] .filter-text {
    padding-left: 15px;
}

.dropdown-toggle[aria-expanded="true"] .filter-text-item {
    padding-left: 16px;
}

.filter-text-item {
    font-weight: bold;
    color: #373737;
    font-size: 13px;
}

.khuvuc-title,
.doituong-title,
.tienich-title {
    background-color: #fafafa;
}

.khuvuc-title:hover,
.doituong-title:hover,
.tienich-title:hover {
    background-color: #eeeeee;
}

#filter-dropdown .components {
    padding-left: 0;
}

.list-nhatro i,
.filter-title i,
#filter-dropdown i {
    font-size: 10px;
}

#filter-view ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#filter-view li a:hover {
    text-decoration: none;
}

#filter-view a[data-toggle="collapse"] {
    position: relative;
    text-decoration: none;
}

#filter-view ul li {
    padding-left: 15px;
}

.tienich-items,
.khuvuc-items,
.doituong-items,
.dientich-items {
    padding: 3px;
}

#filter-dropdown {
    background-color: white;
}

.tienich-list a.dropdown-toggle::after {
    display: none;
}

.nhatro-btn-search i {
    padding: 17px 15px;
}

.nhatro-btn-clear i {
    border-left: 1px solid #e0e0e0;
    padding: 15px;
}

.nhatro-btn-clear i {
    font-size: 20px;
    color: white
}

.nhatro-btn-search i {
    font-size: 17px;
    color: white
}

.nhatro-item {
    padding: 20px 15px;
}
.nhatro-item:active > .nhatro-detail{
    display: block;
}

.nhatro-item:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.icons {
    font-size: 10px;
}
.nhatro-item_return a:hover {
    color: var(--detail-color);
}
/* .nhatro-detail {
    display: block;
    z-index: 323222;
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #eeeeee;
    left: 10px;
    border-radius: 10px;
} */
.nhatro-item_return a:active > div >.nhatro-detail{
    display: none !important;
}
.nhatro-item_return a {
    padding-left: 10px;
    padding-top: 10px;
    color: #046582;
}

.nhatro-item_return a:hover {
    cursor: pointer;
    text-decoration: none;
}

.tienich-title,
.doituong-title,
.khuvuc-title {
    font-weight: bold;
    padding-left: 25px !important;
}

.list-nhatro {
    padding: 13px;
    font-weight: bold;
    background-color: #eeeeee;
    /* border-bottom: 1px solid #bdbdbd; */
}

.list-nhatro:hover {
    cursor: pointer;
}

.khuvuc-items input:hover,
.tienich-items input:hover,
.doituong-items input:hover {
    cursor: pointer;
}

.nhatro-chitiet {
    color: var(--detail-color);
}

.nhatro-chitiet:hover {
    text-decoration: none;
    color: var(--title-color);
}
#map {
    z-index: 1;
    position: relative;
}
.overlay {
    position: absolute;
    right: 0px;
    z-index: 2212;
    background-color: var(--main-color);
    pointer-events: auto;
}
.bankinh-search {
    /* position: absolute; */
    padding: 10px;
    z-index: 99;

}
.bankinh-search input {
    padding: 10px;
    /* border: none; */
    border-radius: none;
    /* width: 100%; */
}

