:root {
  --main-color: #02bfdb;
  --title-color: #046582;
  --detail-color: #a30000;
}
body {
  font-family: "Helvetica", sans-serif, FontAwesome;
  font-size: 14px;
  /* line-height: 22px; */
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5 !important;
  color: #373737;
}
@font-face {
  font-family: "Helvetica";
  src: url("font/Helvetica/helvetica-neue-regular.ttf");
}
@font-face {
  font-family: "Helvetica-Medium";
  src: url("../font/Helvetica/helvetica-neue-medium.ttf");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../font/Helvetica/helvetica-neue-bold.ttf");
}
.nav-item {
  margin-right: 7px;
  margin-left: 7px;
  position: relative;
}
.navbar-nav {
  margin-left: 40px;
}
nav .navbar-collapse .nav-item::after {
  content: "";
  width: 100%;
  height: 3px;
  transition: all 0.5s;
}
nav .navbar-collapse .nav-item.active::after {
  position: absolute;
  display: block;
  background-color: #02bfdb;
  width: 100%;
  height: 3px;
  top: 49px;
}
nav .navbar-collapse .nav-item:hover::after {
  position: absolute;
  display: block;
  background-position: bottom;
  background-color: #02bfdb;
  width: 100%;
  height: 3px;
  top: 49px;
}
nav .navbar-collapse .nav-item:hover {
  transition: all 3s;
}
/* MAIN */
.btn_post,
.btn_login {
  padding: 10px 19px !important;
  font-family: "Helvetica-Bold";
  font-size: 13px;
}
.btn_post {
  /* border: 1px solid var(--detail-color); */
  background-color: var(--detail-color);
  color: white;
  margin-right: 10px;
}
.btn_post:hover {
  color: white;
  background-color: var(--detail-color);
  transition-duration: 0.2s;
}
.btn_login,
.btn_search {
  background-color: var(--main-color) !important;
  color: white !important;
}
/* banner */
.banner {
  position: relative;
  background: url("../img/banner.jpg");
  width: 100%;
  min-height: 400px;
  background-size: cover;
}
.banner_icon {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner_text {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
  text-align: center;
}
.banner-form,
.banner-form_find,
.search-input,
.btn-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.banner-form {
  top: 200px;
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
  padding: 15px;
  height: 300px;
  width: 60%;
  box-shadow: 1px 1px 3px 1px gray;
}
.banner-form_find {
  background-color: white;
  border-radius: 5px;
  padding: 7px 6px;
}
.search-input {
  border-radius: 12px;
  width: 90%;
  top: 100px;
}
.search-input input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 5px 20px 20px;
  width: 100%;
}
.form-control {
  font-size: 13px;
  width: 200px;
  height: 50px;
  background-color: white;
}
.btn-search {
  top: 270px;
  padding: 20px 100px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  outline: none !important;
  box-shadow: 1px 2px 2px 1px var(--title-color);
}
.btn-search:hover {
  background-color: var(--title-color);
  color: white;
}
.keyword {
  width: 250px;
  background-color: white;
  padding: 0.34rem 0;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
.ma-top {
  margin-top: 30px;
}
li {
  list-style-type: none;
}
#district-carousel {
  position: relative;
  margin-top: 30px;
}
.district {
  margin-top: 170px;
}
.district-name {
  padding-top: 10px;
  color: var(--title-color);
  font-family: "Helvetica-Bold";
}
#district-carousel .owl-carousel .owl-stage-outer {
  padding-top: 20px;
  height: 200px;
}
.img-circle img {
  border-radius: 10%;
}
.img-circle img:hover {
  opacity: 0.9;
  transition-duration: 0.4s;
  transform: scale(1.02);
  cursor: pointer;
}
.btn_prev,
.btn_next {
  position: absolute;
  top: 28%;
  background: none;
  border: none;
  outline: none;
  color: var(--main-color);
}
.btn_prev {
  left: -30px;
}
.btn_next {
  right: -30px;
}
.btn_prev:hover,
.btn_next:hover {
  transform: scale(1.05) !important;
  border-radius: 50% !important;
}
.text-title {
  padding-top: 20px;
  font-size: 18px;
  font-family: "Helvetica-Bold" !important;
  line-height: 1;
  color: var(--title-color);
}
.form_ma {
  margin: 4px;
  font-size: 13px;
}
select {
  font-size: 13px !important;
}
/* district */
.district-form {
  margin-top: 100px;
  background-color: #eeeeee;
}
.post-arrange a {
  color: var(--detail-color);
}
.post-arrange a:hover {
  text-decoration: none;
}
option[value=""][disabled] {
  display: none;
}
.text {
  padding: 0 12%;
  text-align: center;
}
.text_fluid {
  padding: 0 22%;
  text-align: center;
}
.body-title {
  font-family: "Helvetica-Bold";
  font-size: 17px;
  margin-bottom: 5px;
  color: #373737 !important;
}
.body-text {
  font-size: 13px;
}
.img-text {
  color: white;
  padding-left: 15px;
}
.checked {
  color: var(--main-color);
}
.check {
  color: #d2d2d2;
}
.post-rate {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.post-view {
  padding: 0 10px;
}
.rating {
  font-size: 12px;
  display: block;
}
.img-top img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.text-bold {
  font-size: 24px;
  font-family: "Helvetica-Bold";
  line-height: 1;
  color: rgb(41, 41, 41);
}
.content-post {
  background-color: white;
  border-radius: 10px;
}
.slide-item:hover {
  box-shadow: 1px 1px 5px 4px #eeeeee;
}
.item-border {
  width: 100%;
  display: block;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}
.slide-item {
  padding: 10px;
}
.post-text {
  padding: 5px;
}
.post-text a {
  color: #046582;
}
.post-text a:hover {
  color: #002171;
  text-decoration: none;
}
.post-price {
  padding: 0 15px 10px 15px;
  font-size: 20px;
  font-family: "Helvetica-Bold";
  color: var(--detail-color);
}
.aaa {
  margin: 0 !important;
}
.post-area {
  padding-left: 30px;
}
.time-user {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.icon-img {
  color: var(--main-color);
  padding: 5px 8px 5px 0;
}
.btn-filter {
  background-color: var(--main-color);
  color: white;
  padding: 10px 50px;
  border: none !important;
  border-radius: 15px;
}
.btn-filter:hover {
  opacity: 0.9;
}
.uti-title {
  font-size: 12px;
  font-family: "Helvetica-Bold";
  color: var(--detail-color);
}
.post-user {
  font-family: "Helvetica-Bold";
}
.post-contact {
  padding-top: 15px;
}
/* FILER */
.content-filter,
.post-new {
  border-radius: 10px;
}
.sidebar-user {
  background-color: var(--main-color);
  color: white;
}
.create-post {
  background-color: white;
}
.avatar-circle {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar-cmt {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.avatar {
  padding: 15px;
  background-color: var(--title-color);
}
.sidebar-title {
  padding: 15px;
}

.sidebar-title:hover {
  background-color: antiquewhite;
  transition-duration: 0.4s;
  cursor: pointer;
}
.time-user {
  border-bottom: 1px solid #eeeeee;
}
.write-cmt {
  display: block;
  background-color: #eeeeee;
  border-radius: 5px 10px;
  padding: 10px;
}
.cmt-user {
  padding: 10px 0px 10px 0;
}
.left-gr {
  margin-left: 245px;
  margin-top: -18px;
}
.card-body {
  border: none;
}
.pointer {
  cursor: pointer;
}
/* login */
.content-signup {
  margin-bottom: 15px;
}
.form-login {
  background-color: var(--main-color);
}
.form-signup {
  background-color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input {
  background-color: #eeeeee;
  width: 80%;
}
.login-title,
.signup-title {
  font-family: "Helvetica-Bold";
  text-align: center;
  padding: 15px;
}
.signup-title {
  color: black;
}
.login-title {
  color: white;
}
/* POST NEW */
.card_post-new {
  margin-top: 15px;
  border: 1px solid #eeeeee;
}
