@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1200px) {
  .banner-form {
    top: 200px !important;
    height: 300px !important;
  }
  .flex-item {
    width: 50% !important;
  }
  .search-input_form {
    width: 100% !important;
    top: 200px !important;
    padding: 0 30px;
  }
  .btn-search {
    top: 280px !important;
  }
}
@media screen and (max-width: 992px) {
  /* .banner-form {
    height: 350px !important;
  }
  .search-input {
    top: 200px !important;
  }
  .btn-search {
    top: 300px !important;
  } */
}
@media only screen and (max-width: 768px) {
  .banner-form {
    /* position:  relative !important; */
    top: 200px !important;
    height: 400px !important;
  }
  .search-input_form {
    width: 100% !important;
    top: 300px !important;
    padding: 0 30px;
  }
  .btn-search {
    top: 400px !important;
  }
  .banner-form-title, .flex-item i {
    display: none !important;
  }

}
@media screen and (max-width: 576px) {
  .banner-form {
    height: 380px !important;
  }
  .flex-item {
    width: 100% !important;
  }
  .search-input_form {
    width: 100% !important;
    top: 288px !important;
    padding: 0 20px !important;
  }
  .btn-search {
    top: 360px !important;
    padding: 8px 10px !important;
    margin: 0 !important;
  }
  .form-control {
    width: 100% !important;
  }
  .form_ma {
    margin: 0 !important;
  }
  .district {
    margin-top: 180px !important;
  }
}
