:root {
  --main-color: rgb(26, 148, 255);
  --title-color: #046582;
  --detail-color: rgb(225, 45, 45);
  --green-color: #28871c;
  --text-color: #373737;
  --border-color: #e0e0e0;
}
body {
  font-family: "Mallory Book", sans-serif, FontAwesome;
  font-size: 13px;
  line-height: 25px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5 !important;
  color: #373737;
}
@font-face {
  font-family: "Mallory Book";
  src: url("../font/Mallory-Dfonts.org/Mallory/Mallory Book.ttf");
}
@font-face {
  font-family: "Mallory Bold";
  src: url("../font/Mallory-Dfonts.org/Mallory/Mallory Bold.ttf");
}
.nav-item {
  margin-right: 7px;
  margin-left: 7px;
  position: relative;
}
.navbar-nav {
  margin-left: 40px;
}
.navbar-nav a {
  /* color: white !important; */
}
/* MAIN */
.btn_post,
.btn_login,
.btn_signup {
  padding: 13px 25px !important;
  font-family: "Mallory Bold";
  font-size: 13px;
}
.btn_signup,
.btn_login {
  border: 1px solid var(--main-color);
}
.btn_post {
  /* border: 1px solid var(--detail-color); */
  background-color: var(--detail-color);
  color: white;
  margin-right: 10px;
}
.btn_post:hover {
  color: white;
  background-color: var(--detail-color);
  transition-duration: 0.2s;
}

.btn_search {
  background-color: var(--main-color) !important;
  color: white !important;
}
/* banner */
.banner {
  position: relative;
  background: url("../img/room4.jpg");
  width: 100%;
  min-height: 500px;
  background-size: cover;
}
.banner_icon {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner_text {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
  text-align: center;
}
.banner-form,
.banner-form_find,
.search-input_form,
.btn-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.banner-form {
  top: 400px;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  padding: 15px;
  height: 190px;
  width: 60%;
  box-shadow: 1px 1px 3px 1px gray;
}
.banner-form_find {
  background-color: white;
  border-radius: 5px;
  padding: 7px 6px;
}
.search-input_form {
  width: 100%;
  top: 100px;
  padding: 0 30px;
}
.search-input_form .form-group {
  justify-content: center !important;
}
.search-input {
  margin: auto;
  border: 1px solid var(--title-color);
  border-radius: 5px;
  padding: 15px;
}
.form-control {
  font-size: 13px;
  width: 200px;
  height: 50px;
}
.btn-search {
  top: 175px;
  padding: 8px 50px;
  border-radius: 5px;
  background-color: var(--detail-color);
  color: white;
  outline: none !important;
  /* border: 1px solid var(--detail-color); */
  /* box-shadow: 0px 3px 5px 3px var(--title-color); */
}
.btn-search:hover {
  background-color: var(--title-color);
  color: white;
}
.keyword {
  width: 250px;
  background-color: white;
  padding: 0.34rem 0;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
.ma-top {
  margin-top: 30px;
}
li {
  list-style-type: none;
}
.district {
  /* border: 1px solid var(--border-color); */
}
#district-carousel {
  position: relative;
  margin-top: 30px;
}
.district {
  margin-top: 170px;
}
.district-name {
  padding-top: 10px;
  /* color: var(--title-color); */
  font-family: "Mallory Bold";
}
#district-carousel .owl-carousel .owl-stage-outer {
  padding-top: 20px;
  height: 150px;
}
.img-circle img {
  border-radius: 10%;
  background-size: cover;
}
.img-circle img:hover {
  opacity: 0.9;
  transition-duration: 0.4s;
  transform: scale(1.02);
  cursor: pointer;
}
.btn_prev,
.btn_next {
  position: absolute;
  top: 28%;
  background: none;
  border: none;
  outline: none;
  color: var(--main-color);
}
.btn_prev {
  left: -30px;
}
.btn_next {
  right: -30px;
}
.btn_prev:hover,
.btn_next:hover {
  transform: scale(1.05) !important;
  border-radius: 50% !important;
}
.text-title {
  padding-top: 20px;
  font-size: 17px;
  font-family: "Mallory Bold" !important;
  line-height: 1;
  /* color: var(--title-color); */
}
.form_ma {
  margin: 8px;
  font-size: 13px;
}
.form_ma .form-control {
  /* background-color: #eeeeee !important; */
  /* color: white; */
  border-color: var(--title-color);
}
select {
  font-size: 13px !important;
}
/* district */
.district-form {
  margin-top: 100px;
  background-color: #eeeeee;
}
.room-title {
  padding-top: 52px;
}
.border-title {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}
.post-rate {
  font-size: 15px;
}
.post-arrange a {
  color: var(--detail-color);
}
.post-arrange a:hover {
  text-decoration: none;
}
option[value=""][disabled] {
  display: none;
}
.text {
  padding: 0 12%;
  text-align: center;
}
.text_fluid {
  padding: 0 22%;
  text-align: center;
}
.body-title {
  font-family: "Mallory Bold";
  font-size: 15px;
  margin-bottom: 5px;
  color: #373737 !important;
}
.content-box {
  padding-top: 5px;
}
.body-text {
  font-size: 13px;
}
.img-text {
  color: white;
  padding-left: 15px;
}
.checked {
  color: var(--detail-color);
}
.check {
  color: #d2d2d2;
}

.post-view {
  padding: 0 10px;
}
.rating {
  font-size: 12px;
  display: block;
}
.img-top img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.text-bold {
  font-size: 24px;
  font-family: "Mallory Bold";
  line-height: 1;
  color: rgb(41, 41, 41);
}
.content-post,
.post-map {
  border: 1px solid var(--border-color);
}
.slide-item {
  /* border: 2px solid #eeeeee;
  border-radius: 5px; */
}
.item-border {
  width: 100%;
  display: block;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}
.slide-item {
  padding: 10px;
}
.post-text {
  padding: 5px;
}
.post-text a,
.post-new_kc a {
  color: var(--text-color);
}
.post-text a:hover,
.post-new_kc a:hover {
  color: #002171;
  text-decoration: none;
}
.post-text-user {
  background-color: #eeeeee;
}
.post-price {
  /* padding: 0 15px 10px 15px; */
  font-size: 16px;
  font-family: "Mallory Bold";
  color: var(--detail-color);
}
.content-cmt {
  /* position: relative; */
  /* display: inline-block; */
}
.left-gr {
  position: relative;
  top: 10px;
  left: 50%;
  /* left: 0; */
}
.area-text .custom-control,
.price-text .custom-control,
.size-text .custom-control,
.utilities-text .custom-control {
  padding: 10px;
}
.area-text .custom-control-label:hover,
.price-text .custom-control-label:hover,
.size-text .custom-control-label:hover,
.utilities-text .custom-control-label:hover {
  cursor: pointer;
}
.comment {
  padding-top: -50px;
}
.post-address {
  padding-left: 20px;
}
.time-user {
  display: flex;
  flex-wrap: wrap;
}
.text-time {
  position: absolute;
  top: 16px;
  font-size: 11px;
  color: var(--title-color);
}
.flex-items {
  align-items: flex-start;
  flex-direction: column;
}
.icon-img {
  /* color: var(--green-color); */
  opacity: 0.7;
  padding: 5px 8px 5px 0;
}
.btn-filter {
  background-color: var(--main-color);
  color: white;
  padding: 10px 50px;
  border: none !important;
  border-radius: 15px;
}
.btn-filter:hover {
  opacity: 0.9;
}
.uti-title {
  font-size: 12px;
  font-family: "Mallory Bold";
  color: var(--detail-color);
}
.post-user {
  font-family: "Mallory Bold";
}

/* FILER */
.content-filter,
.post-new {
  border: 1px solid var(--border-color);
}
.sidebar-user {
  background-color: var(--main-color);
  color: white;
}
.create-post {
  background-color: white;
}
.avatar-circle {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar-cmt {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-cmt-new {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar {
  padding: 15px;
  background-color: var(--title-color);
}
.sidebar-title {
  padding: 15px;
}

.sidebar-title:hover {
  background-color: antiquewhite;
  transition-duration: 0.4s;
  cursor: pointer;
}

.write-cmt {
  display: block;
  background-color: #eeeeee;
  border-radius: 5px 10px;
  padding: 10px;
}
.cmt-user {
  padding: 10px 0px 10px 0;
}
/* .left-gr {
  margin-left: 245px;
  margin-top: -18px;
} */
.card-body {
  border: none;
}
.pointer {
  cursor: pointer;
}
/* login */
.content-signup {
  margin-bottom: 15px;
}
.form-login {
  background-color: var(--main-color);
}
.form-signup {
  background-color: white;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input {
  background-color: #eeeeee;
  width: 100%;
}
.login-title,
.signup-title {
  font-family: "Mallory Bold";
  text-align: center;
  padding: 10px;
}
.signup-title {
  color: black;
}
.login-title {
  color: white;
}
/* POST NEW */
.card_post-new {
  margin-top: 15px;
  border: 1px solid #eeeeee;
}
.card_post-new .card-body {
  padding: 15px;
}
.post-map {
  padding-left: 15px;
  padding-top: 15px;
}
.map-box {
  padding-top: 15px;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../font/Mallory-Dfonts.org/Mallory/Mallory Compact Bold.ttf");
}
.utilities-title,
.size-title,
.price-title,
.area-title {
  padding-left: 5px;
  font-size: 13px;
  font-family: "Helvetica-Bold";
  color: #757575;
}
.utilities-title:hover,
.size-title:hover,
.price-title:hover {
  text-decoration: none;
}
.utilities-title:active,
.size-title:active,
.price-title:active,
.area-title:active {
  color: white;
}

.filter-check {
  margin-top: 10px;
}
.price-text a:hover,
.size-text a:hover {
  color: var(--main-color);
  text-decoration: none;
}
.icon-money {
  margin: 3px;
}
/* BAIDANG */
.slide-img img {
  height: 500px;
  width: 100%;
}
.detail-post {
}
.infor-post {
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: white;
  height: 505px;
}
.utilities-room,
.comment-box {
  border-bottom: 1px solid #eeeeee;
}
.post-title {
  font-family: "Helvetica-Bold";
  font-size: 25px;
  color: var(--detail-color);
  padding-top: 15px;
}
.utilities-detail {
  padding: 15px;
}
/* filter */
.filter-check {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 15px;
  /* margin-bottom: 10px; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filter-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 15px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-check input:checked ~ .checkmark {
  background-color: var(--main-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* .price-check {
  padding-top: 10px;
} */
#sidebar {
  /* color: #fff; */
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  /* color: #7386d5; */
  background: #fff;
}
#sidebar ul li {
  border-bottom: 1px solid #eeeeee;
}
#sidebar ul li:hover > a,
a[aria-expanded="true"] {
  background: var(--main-color);
  text-decoration: none;
}
#sidebar ul li:hover > a > span {
  color: white;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.slider {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 400px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 95px;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
